h1 {
  color: red;
}
body{
	
}
.nav ul{
	background-color: blue;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.grid {
	border: 1px blue dotted;
	display: grid;
	grid-template: repeat(6, 50px)/repeat(6,1fr);
	grid-gap: 20px 20px;
	justify-items: end;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.gridB {
	grid-gap: 20px 10px;
	display: grid;
	grid-template: repeat(6, 50px)/repeat(6,1fr);
	grid-template-areas: "g h h h h i"
						"g h h h h j"
						"g h h h h k"
						"g l l l l l"
						"g l l l l l"
						"g l l l l l";
	justify-content: center ;

}

.gridC {
	
	grid-gap: 20px;
	display: grid;
	grid-template: repeat(2, 300px)/repeat(3, 300px);
	
	
  	justify-items: center;
 	justify-content: center;
  	align-items: center;
  	align-content: center;

 }

 .gridD{
 	display: grid;
 	grid-template: repeat(2, 300px)/repeat(2,300px);
 	justify-items: stretch;
 }

.box {
	border: 1px blue solid;
}

.a {

	grid-area: 1/1/7/span 1;
}

.b {

	grid-area: 1/2/span 6/ span 4;

}

.g {

	grid-area: g;

}

.h { 

	background-color: grey;
	grid-area: h;
	z-index: 1;
}

.i {

	background-color: magenta;
	grid-area: 3/3/span 2/ span 2;
	z-index: 2;
}

.j {

	grid-area: j;
}

.k {

	grid-area: k;
}

.l {

	grid-area: l;
}


